#header {
  position: sticky;
}

body {
  background-color: #875a7b;
  font-family: "Benne", serif;
}

.linkedin {
  color: rgb(53, 53, 240) font-;
}

/* main {
  margin-top: 2vh;
} */

.banner {
  text-align: center;
  background-color: rgb(15, 15, 15);
  color: rgb(223, 221, 221);
}
h1 {
  font-size: 2rem;
}

.nav li:hover {
  opacity: 0.5;
  color: black;
}

.contact-body {
  background-color: grey;
}

.invoice-list {
  background-color: white;
  height: 60vh;
}

li:focus {
  color: red;
  outline: none;
}
